mixin list(items, className, active)
    div(class="#{className}")
        ul(class="#{className}__list")
            each item, key in items
                if key == active
                    li(class="#{className}__item #{className}__item--active")
                        a(href="#" class="#{className}__link")= item
                else
                    li(class="#{className}__item")
                        a(href="#" class="#{className}__link")= item

mixin list-mod(items, className, id, mod)
    div(class="#{className}")
        ul(class="#{className}__list")
            each item in items
                li(class="#{className}__item")
                    a(href="#" class="#{className}__link")= item

mixin title(tagName, className, text)
    #{tagName}(class=className) #{text}

mixin button(className, text, href)
    if href
        a(class=className href=href target="_blank") #{text}
    else
        button(class=className) #{text}

mixin lecture(school)
    .lectures
        - var year = 2017
        - var index = 1

        for item in school
          .lecture
            for key, name in item
                    if name === 'month'
                        .lecture__month #{key} #{year}
                    if name === 'data'
                        table.lecture__table
                            for lecture, data in key
                                tr.lecture__row
                                    td.lecture__column #{data}
                                    td.lecture__column Лекция #{index++}
                                    td.lecture__column #{lecture.lectureName}
                                    td.lecture__column #{lecture.lectureAuthor}
                                    td.lecture__column: +button('button', 'Скачать', lecture.downloadUrl)


